@import '../../styles/globalStyles';

%details-wrapper-content {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.details-wrapper {
  background: #00000032;
  position: absolute;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.details {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  left: 39%;
  top: 30%;
}

.details-content-wrapper {
  @extend %details-wrapper-content;
}

.details-header {
  @extend %reset-style;

  margin-bottom: 10px;
  font-size: 25px;
}

.drate {
  display: flex;
}

.dcomment {
  width: 70%;
  height: 60px;
  resize: none;
}
